# 21 September 2019
## Complex types 

Collections - containers for variables

`3 in list1` where list1 is a collection

`3 not in list1`

Collection:
- mutable
    - lists
    - sets
    
    
- immutable
    - tuples
    - strings

## for loop

`for <element> in <collection>`

What we can interate is iterable.

In [1]:
list_1 = [1, 2, 43, 5, 10, 7]

for item in list_1:
    print(item)

1
2
43
5
10
7

`while` loops are better when we have infinity somewehere:
`while True:`

In [2]:
for item in "text":
    print(item)

t
e
x
t

In [3]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
list(range(10,50,3))

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

## Tuples

`(4,)`

`(4, "asd", False, 4.23)`

You can't modify tuples - we can ad another tuples to it.
Tuples are a sign that you have a collection of data that you don't want to iterate on.

In [5]:
(1,2,3) + (4,5)

(1, 2, 3, 3, 4, 5)

In [7]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
for i in (1,2,3):
    print(i)

1
2
3

In [20]:
tuple_a = (1,2 ,3 ,4)
tuple_b = tuple_a[:2] + (0,) + (tuple_a[-1], )
print(tuple_a)
print(tuple_b)

(1, 2, 3, 4)
(1, 2, 0, 4)

## Sets

`{1,2,3,4, "gfr", None}`

`set()`

We can treat them like mathematical sets (union, intersection, difference).

{1,2,3,5,6,7,7} eliminates duplicates

In [25]:
{1,2,2,2,3,5,6,7,7}

{1, 2, 3, 5, 6, 7}

## Dictionaries

Not indexable, unordered. Pairs - key = value.
`{"a": 5, "b": 6}`

`dict()`

In [31]:
set = {"a": 5, "b": 6}
print(set["a"])

5

In [30]:
res = {"papier" : 1, "nozyce" : 2, "kamien": 3}
res["nozyce"]

2

In [34]:
d = {"a": [1,2,3], "b": 34}
for i in d:
    print(i)
for i in d.values():
    print(i)

a
b
[1, 2, 3]
34

In [37]:
a = {}
a.fromkeys([1,2,3,4], 0)

{1: 0, 2: 0, 3: 0, 4: 0}

## Hashmaps
Gives values to keys.

In [44]:
a = "123.45"
a.split(sep=".")

['123', '45']

In [45]:
b = "ele mele dudki"
b.split()

['ele', 'mele', 'dudki']

## Exceptions
AFNP - Ask Forgiveness Not Permission

`try:
    4/0
except ZeroDivisionError:
    print("Cannot divide by 0")`