# December 7

## Databases - SQL

SQL - Structured Query Language
SQL enables access to and manipulating data in relational databases.
SQL is a standard (the most important commands work on all versions of relationable databases)


Database Management System

RAM/Cache is the fastes type of memory there is.

Most popular RDBMS databases:
- MySQL
- PostgreSQL

Databases consist of tables: columns and rows.
Three types of relatioins inside relational databases (relatioins between tabels)

### 1-1 one to one
One record in table 1 equals another record in table 2.
One team has one captain and one captain belongs to one team

### 1-N one to many (most popular)
One record equals a couple of records iin another tabble.
One book is published by one publishing house, but one publishiing house puts out a lot of books.

### N-N many to many
A couple of records in one table equals a lot of records iin a diifferent table.

## Subtypes in SQL databases

- DQL (Data Query Language) - `SELECT`
- DML (Data Maniipulation Language) - `INSERT/UPDATE/DELETE`
- DDL (Data Definitioin Language) - `CREATE/DROP/ALTER`
- DCL (Data 

## Querying for data

Primary commands

`SELECT`

In [2]:
select first_name, last_name from employees;
desc employees;

select * from employees limit 5;

select first_name from employees;
select distinct job_id from employees;
select distinct job_id, first_name from employees;

select first_name as imie, last_name as nazwisko from employees;
select * from employees order by last_name asc;
select * from employees order by first_name desc, last_name desc;

select job_id, first_name from employees order by job_id asc, first_name desc;
select employee_id, last_name, first_name, email from employees
order by 3 desc, 4 asc;

select first_name, last_name from employees order by job_id;

select last_name, first_name, salary from employees;
select last_name, first_name, salary from employees limit 3,3;

select count(*) as liczba_pracownikow from employees;
select count(*) as liczba_dept from departments;

select count(commission_pct) from employees;
select count(distinct commission_pct) from employees;
select distinct commission_pct from employees order by 1 desc;

select * from employees where commission_pct < 0.20 order by salary asc;
select first_name from employees where first_name = "James";
select * from employees where salary >= 19000 or job_id = "AD_VP";

select * from employees where job_id in ("ad_pres", "ad_vp");

SyntaxError: invalid syntax (<ipython-input-2-264e4503b6cf>, line 1)

`GROUP BY`